In [1]:
import sys
sys.path.append("../")

import pandas as pd
import os

from library import regulations
from library import analysis
from library import tables

In [2]:
data_path = '/Users/kylieleblancKylie/domino/dofis/data/'
table_path = '/Users/kylieleblancKylie/domino/dofis/results/descriptive/'
data = pd.read_csv(os.path.join(data_path, 'clean', 'master_data_district.csv'),
                  sep=",")
data.sample(5)

/Users/kylieleblancKylie/anaconda/envs/spacy/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,year,district,distname,distischarter,rating_academic,rating_financial,type,type_description,cntyname,...,district_status,type_urban,type_suburban,type_town,type_rural,eligible,teachers_nodegree,teachers_badegree,teachers_msdegree,teachers_phddegree
3120,3120,2014,120905,INDUSTRIAL ISD,N,M,NaN,G,NON-METROPOLITAN STABLE,JACKSON,...,doi,0,0,1,0,1,0.0,0.790461,0.209539,0.000000
6905,6905,2017,161909,MCGREGOR ISD,N,M,Pass,G,NON-METROPOLITAN STABLE,MCLENNAN,...,doi,0,0,1,0,1,0.0,0.837955,0.153380,0.008666
2742,2742,2014,57847,VILLAGE TECH SCHOOLS,Y,I,NaN,I,CHARTER SCHOOL DISTRICTS,DALLAS,...,charter,0,0,0,0,0,0.0,0.808530,0.191470,0.000000
53,53,2012,14910,TROY ISD,N,NaN,NaN,G,NON-METROPOLITAN STABLE,BELL,...,tps,0,0,1,0,1,0.0,0.860985,0.139015,0.000000
5258,5258,2016,71806,HARMONY SCIENCE ACAD (EL PASO),Y,M,Pass,I,CHARTER SCHOOL DISTRICTS,EL PASO,...,charter,0,0,0,0,0,0.0,0.765616,0.228856,0.005528

In [3]:
data = data[data.year == 2016]
data.sample(5)

,Unnamed: 0,year,district,distname,distischarter,rating_academic,rating_financial,type,type_description,cntyname,...,district_status,type_urban,type_suburban,type_town,type_rural,eligible,teachers_nodegree,teachers_badegree,teachers_msdegree,teachers_phddegree
5326,5326,2016,84910,CLEAR CREEK ISD,N,M,Pass,B,MAJOR SUBURBAN,GALVESTON,...,doi,0,1,0,0,1,0.006016,0.747135,0.241202,0.005647
5419,5419,2016,101861,THE RHODES SCHOOL,Y,M,Pass,I,CHARTER SCHOOL DISTRICTS,HARRIS,...,charter,0,0,0,0,0,0.069686,0.618467,0.296167,0.017422
5264,5264,2016,71903,FABENS ISD,N,M,Pass,G,NON-METROPOLITAN STABLE,EL PASO,...,doi,0,0,1,0,1,0.011655,0.727855,0.237179,0.023310
5376,5376,2016,96904,MEMPHIS ISD,N,M,Pass,H,RURAL,HALL,...,doi,0,0,0,1,1,0.000000,0.772429,0.227571,0.000000
5953,5953,2016,220920,WHITE SETTLEMENT ISD,N,M,Pass,B,MAJOR SUBURBAN,TARRANT,...,doi,0,1,0,0,1,0.011577,0.814279,0.174144,0.000000

# Geography

In [4]:
columns = ['Count', 'Percent Urban', 'Percent Suburban', 'Percent Town', 'Percent Rural', 'F-test p-value']

In [24]:
schedules_df = analysis.create_count_proportion_df(data, list_of_regs = regulations.schedules, 
                                                dict_of_reg_labels = regulations.labels)
tables.df_to_excel(file = table_path + 'desc_exemptionsXgeography.xlsx', df = schedules_df,
                  df_columns = columns, start_row = 4, start_col = 3)
schedules_df

/Users/kylieleblancKylie/anaconda/envs/spacy/lib/python3.7/site-packages/statsmodels/compat/pandas.py:49: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  data_klasses = (pandas.Series, pandas.DataFrame, pandas.Panel)

,Regulation,Count,Percent Urban,Percent Suburban,Percent Town,Percent Rural,F-test p-value
0,25.0811 - Minimum First Day of Instruction,798,0.95,0.96,0.98,0.98,0.30
1,25.081 - Minimum Minutes of Operation,356,0.49,0.40,0.39,0.47,0.17
2,25.0812 - Minimum Last Day of Instruction,231,0.26,0.24,0.26,0.32,0.26
3,25.082 - Pledge of Allegiance and Minute of Si...,208,0.26,0.21,0.25,0.28,0.38

In [26]:
class_size_df = analysis.create_count_proportion_df(data, list_of_regs = regulations.class_size,
                                                 dict_of_reg_labels = regulations.labels)
tables.df_to_excel(file = table_path + 'desc_exemptionsXgeography.xlsx', df = class_size_df,
                  df_columns = columns, start_row = 9, start_col = 3)
class_size_df

,Regulation,Count,Percent Urban,Percent Suburban,Percent Town,Percent Rural,F-test p-value
0,25.112 - Class Size Maximum,363,0.38,0.42,0.45,0.45,0.81
1,25.113 - Notice of Class Size,299,0.36,0.35,0.39,0.36,0.86
2,25.111 - Maximum Student Teacher Ratio,127,0.21,0.16,0.14,0.15,0.76

In [27]:
certification_df = analysis.create_count_proportion_df(data, 
                                                 list_of_regs = regulations.certification, 
                                                 dict_of_reg_labels = regulations.labels)
tables.df_to_excel(file = table_path + 'desc_exemptionsXgeography.xlsx', df = certification_df,
                  df_columns = columns, start_row = 13, start_col = 3)
certification_df

,Regulation,Count,Percent Urban,Percent Suburban,Percent Town,Percent Rural,F-test p-value
0,21.003 - Teacher Certification Required,714,0.74,0.82,0.88,0.91,0.00
1,21.053 - Presentation of Teacher Certificates,240,0.31,0.24,0.32,0.30,0.40
2,21.057 - Notice of Uncertified Teacher,271,0.28,0.26,0.36,0.35,0.12

In [28]:
contracts_df = analysis.create_count_proportion_df(data, 
                                                 list_of_regs = regulations.contracts, 
                                                 dict_of_reg_labels = regulations.labels)
tables.df_to_excel(file = table_path + 'desc_exemptionsXgeography.xlsx', df = contracts_df,
                  df_columns = columns, start_row = 17, start_col = 3)
contracts_df

,Regulation,Count,Percent Urban,Percent Suburban,Percent Town,Percent Rural,F-test p-value
0,21.102 - Maximum Probationary Contract Length,419,0.18,0.41,0.58,0.56,0.00
1,21.401 - Minimum Service Days Required for Tea...,290,0.03,0.12,0.28,0.56,0.00
2,21.352 - Teacher Evaluation,166,0.21,0.22,0.20,0.19,0.88
3,21.354 - Administrator Evaluation,46,0.10,0.06,0.04,0.06,0.44

In [29]:
behavior_df = analysis.create_count_proportion_df(data, 
                                                 list_of_regs = regulations.behavior, 
                                                 dict_of_reg_labels = regulations.labels)
tables.df_to_excel(file = table_path + 'desc_exemptionsXgeography.xlsx', df = behavior_df,
                  df_columns = columns, start_row = 22, start_col = 3)
behavior_df

,Regulation,Count,Percent Urban,Percent Suburban,Percent Town,Percent Rural,F-test p-value
0,25.092 - Minimum Attendance for Class Credit,214,0.51,0.34,0.26,0.19,0.0
1,37.0012 - Designation of Campus Behavior Coord...,178,0.36,0.28,0.27,0.13,0.0
2,25.036 - Transfers,178,0.05,0.06,0.23,0.31,0.0