In [1]:
import sys
sys.path.append("../")

import pandas as pd
import os
import statsmodels.formula.api as sm
import numpy as np
import engarde.decorators as ed


from library import regulations
from library import characteristics
from library import analysis
from library import tables
from library import test_data

In [2]:
data_path = '/Users/kylieleblancKylie/domino/dofis/data/'
table_path = '/Users/kylieleblancKylie/domino/dofis/results/Who Needs Rules/'
data = pd.read_csv(os.path.join(data_path, 'clean', 'master_data_district.csv'),
                  sep=",", low_memory = False)
data = data[data.year == 2016]
data.head()

,Unnamed: 0,year,district,distname,distischarter,rating_academic,rating_financial,type,type_description,cntyname,...,district_status,type_urban,type_suburban,type_town,type_rural,eligible,teachers_nodegree,teachers_badegree,teachers_msdegree,teachers_phddegree
4901,4901,2016,1902,CAYUGA ISD,N,M,Pass,H,RURAL,ANDERSON,...,doi,0,0,0,1,1,0.000000,0.908088,0.091912,0.0
4902,4902,2016,1903,ELKHART ISD,N,M,Pass,G,NON-METROPOLITAN STABLE,ANDERSON,...,doi,0,0,1,0,1,0.000000,0.850449,0.149551,0.0
4903,4903,2016,1904,FRANKSTON ISD,N,M,Pass,H,RURAL,ANDERSON,...,doi,0,0,0,1,1,0.001721,0.877797,0.120482,0.0
4904,4904,2016,1906,NECHES ISD,N,M,Pass,H,RURAL,ANDERSON,...,doi,0,0,0,1,1,0.000000,1.000000,0.000000,0.0
4905,4905,2016,1907,PALESTINE ISD,N,M,Pass,E,INDEPENDENT TOWN,ANDERSON,...,doi,0,0,1,0,1,0.025157,0.868664,0.106178,0.0

In [3]:
list(data.columns)

['Unnamed: 0',
 'year',
 'district',
 'distname',
 'distischarter',
 'rating_academic',
 'rating_financial',
 'type',
 'type_description',
 'cntyname',
 'students_amind_num',
 'students_asian_num',
 'students_black_num',
 'students_frpl_num',
 'students_hisp_num',
 'students_num',
 'students_paci_num',
 'students_tworaces_num',
 'students_white_num',
 'teachers_badegree_num',
 'teachers_exp_ave',
 'teachers_msdegree_num',
 'teachers_new_num',
 'teachers_nodegree_num',
 'teachers_num',
 'teachers_phddegree_num',
 'teachers_tenure_ave',
 'teachers_turnover_denom',
 'teachers_turnover_num',
 'teachers_turnover_ratio',
 'alg_avescore',
 'bio_avescore',
 'eng1_avescore',
 'eng2_avescore',
 'm_3rd_avescore',
 'm_4th_avescore',
 'm_5th_avescore',
 'm_6th_avescore',
 'm_7th_avescore',
 'm_8th_avescore',
 'r_3rd_avescore',
 'r_4th_avescore',
 'r_5th_avescore',
 'r_6th_avescore',
 'r_7th_avescore',
 'r_8th_avescore',
 's_5th_avescore',
 's_8th_avescore',
 'us_avescore',
 'alg_numtakers',
 'bio_numtakers',
 'eng1_numtakers',
 'eng2_numtakers',
 'm_3rd_numtakers',
 'm_4th_numtakers',
 'm_5th_numtakers',
 'm_6th_numtakers',
 'm_7th_numtakers',
 'm_8th_numtakers',
 'r_3rd_numtakers',
 'r_4th_numtakers',
 'r_5th_numtakers',
 'r_6th_numtakers',
 'r_7th_numtakers',
 'r_8th_numtakers',
 's_5th_numtakers',
 's_8th_numtakers',
 'us_numtakers',
 'class_size_1',
 'class_size_2',
 'class_size_3',
 'class_size_4',
 'class_size_5',
 'class_size_6',
 'class_size_k',
 'class_size_sec_lang',
 'class_size_sec_math',
 'class_size_sec_r',
 'class_size_sec_sci',
 'class_size_sec_ss',
 'stu_teach_ratio',
 'Unnamed: 0.1',
 'link',
 'p_doi',
 'doi_year',
 'reg11_1511',
 'reg11_162',
 'reg11_164',
 'reg11_251',
 'reg11_252',
 'reg11_253',
 'reg11_255',
 'reg11_521',
 'reg12_002',
 'reg12_003',
 'reg12_0522',
 'reg12_131',
 'reg15_113',
 'reg19_231',
 'reg20_085',
 'reg21_0',
 'reg21_0003',
 'reg21_002',
 'reg21_003',
 'reg21_0031',
 'reg21_004',
 'reg21_005',
 'reg21_0051',
 'reg21_0203',
 'reg21_033',
 'reg21_04',
 'reg21_0401',
 'reg21_044',
 'reg21_0442',
 'reg21_048',
 'reg21_049',
 'reg21_0491',
 'reg21_051',
 'reg21_052',
 'reg21_053',
 'reg21_055',
 'reg21_056',
 'reg21_057',
 'reg21_0583',
 'reg21_081',
 'reg21_0811',
 'reg21_101',
 'reg21_102',
 'reg21_106',
 'reg21_111',
 'reg21_158',
 'reg21_202',
 'reg21_203',
 'reg21_211',
 'reg21_252',
 'reg21_342',
 'reg21_351',
 'reg21_352',
 'reg21_3521',
 'reg21_353',
 'reg21_354',
 'reg21_3541',
 'reg21_355',
 'reg21_40',
 'reg21_401',
 'reg21_4016',
 'reg21_402',
 'reg21_4021',
 'reg21_404',
 'reg21_405',
 'reg21_407',
 'reg21_415',
 'reg21_451',
 'reg21_4513',
 'reg21_458',
 'reg21401',
 'reg22_004',
 'reg22_007',
 'reg22_011',
 'reg22_021',
 'reg22_0831',
 'reg22_0833',
 'reg22_102',
 'reg22_111',
 'reg23_354',
 'reg23_3541',
 'reg24_401',
 'reg25_001',
 'reg25_01812',
 'reg25_035',
 'reg25_036',
 'reg25_038',
 'reg25_043',
 'reg25_08',
 'reg25_081',
 'reg25_0811',
 'reg25_0812',
 'reg25_082',
 'reg25_083',
 'reg25_084',
 'reg25_085',
 'reg25_086',
 'reg25_087',
 'reg25_0915',
 'reg25_092',
 'reg25_094',
 'reg25_111',
 'reg25_1111',
 'reg25_1113',
 'reg25_112',
 'reg25_113',
 'reg25_114',
 'reg25_206',
 'reg25_250',
 'reg25_354',
 'reg25_451',
 'reg25_801',
 'reg25_8011',
 'reg25_8012',
 'reg25_811',
 'reg25_812',
 'reg25_902',
 'reg26_011',
 'reg26_0811',
 'reg28_002',
 'reg28_0021',
 'reg28_004',
 'reg28_014',
 'reg28_0214',
 'reg28_0216',
 'reg28_023',
 'reg28_025',
 'reg28_026',
 'reg28_027',
 'reg28_0811',
 'reg28_214',
 'reg28_216',
 'reg29_0821',
 'reg29_0822',
 'reg29_092',
 'reg29_151',
 'reg29_916',
 'reg36_054',
 'reg37_001',
 'reg37_0012',
 'reg37_002',
 'reg37_005',
 'reg37_006',
 'reg37_007',
 'reg37_008',
 'reg37_0081',
 'reg37_0082',
 'reg37_00821',
 'reg37_0087',
 'reg37_01',
 'reg37_010',
 'reg37_027',
 'reg37_105',
 'reg37_107',
 'reg37_152',
 'reg38_004',
 'reg38_0041',
 'reg38_006',
 'reg38_101',
 'reg38_102',
 'reg39_022',
 'reg39_053',
 'reg39_082',
 'reg39_131',
 'reg39_306',
 'reg39_362',
 'reg41_401',
 'reg42_005',
 'reg42_006',
 'reg42_205',
 'reg44_031',
 'reg44_0331',
 'reg44_0352',
 'reg44_042',
 'reg44_043',
 'reg44_047',
 'reg44_901',
 'reg44_902',
 'reg44_903',
 'reg45_204',
 'reg45_205',
 'reg45_206',
 'reg45_207',
 'reg45_208',
 'reg45_209',
 'reg46_001',
 'reg51_403',
 'reg55_0811',
 'reg97_1001',
 'total',
 '_merge',
 'doi',
 'county',
 'cnty_pop',
 'students_frpl',
 'students_black',
 'students_hisp',
 'students_white',
 'students_teacher_ratio',
 'r_3rd_std',
 'm_3rd_std',
 'r_4th_std',
 'm_4th_std',
 'r_5th_std',
 'm_5th_std',
 'r_6th_std',
 'm_6th_std',
 'r_7th_std',
 'm_7th_std',
 'r_8th_std',
 'm_8th_std',
 's_8th_std',
 'alg_std',
 'bio_std',
 'eng1_std',
 'eng2_std',
 'us_std',
 'elem_math',
 'elem_reading',
 'elem',
 'sec_math',
 'sec_reading',
 'sec_science',
 'avescores',
 'geography',
 'charter',
 'district_status',
 'type_urban',
 'type_suburban',
 'type_town',
 'type_rural',
 'eligible',
 'teachers_nodegree',
 'teachers_badegree',
 'teachers_msdegree',
 'teachers_phddegree']

In [4]:
#TODO is -999 missing or NA? Worth differentiating?
data.doi_year.value_counts().sort_index()

2015.0      1
2016.0     69
2017.0    585
2018.0    133
2019.0     23
Name: doi_year, dtype: int64

# Geography

In [5]:
labels = []
for char in characteristics.geography:
    labels.append(characteristics.labels[char])
    labels.append('')
table_dict = {'Characteristics': labels}
geo_table = pd.DataFrame(data=table_dict)

for yr in [2016, 2017,2018]:
    means = []
    df = data[data.doi_year == yr]
    for char in characteristics.geography:
        means.append(round(df[char].mean(), 2))
        sd = '[' + str(round(df[char].std(), 2)) + ']'
        means.append(sd)
    geo_table[yr] = means
    
geo_table

  Characteristics    2016    2017    2018
0           Urban     0.1    0.04    0.05
1                   [0.3]   [0.2]  [0.22]
2        Suburban    0.38    0.22    0.22
3                  [0.49]  [0.41]  [0.41]
4            Town     0.2    0.29    0.26
5                  [0.41]  [0.45]  [0.44]
6           Rural    0.32    0.45    0.47
7                  [0.47]   [0.5]   [0.5]

# Teacher characteristics

In [6]:
labels = []
for char in characteristics.teacher:
    labels.append(characteristics.labels[char])
    labels.append('')
table_dict = {'Characteristics': labels}
teacher_table = pd.DataFrame(data=table_dict)

for yr in [2016, 2017,2018]:
    means = []
    df = data[data.doi_year == yr]
    for char in characteristics.teacher:
        means.append(round(df[char].mean(), 2))
        sd = '[' + str(round(df[char].std(), 2)) + ']'
        means.append(sd)
    teacher_table[yr] = means
    
teacher_table

            Characteristics    2016    2017    2018
0  Ave. Experience Teaching    6.99     7.2    7.18
1                            [1.74]  [1.85]  [1.95]
2    Teacher Turnover Ratio   18.21   18.62   18.78
3                            [7.39]   [8.8]  [8.34]
4     Student-Teacher Ratio   13.59   12.57   12.87
5                            [2.14]  [2.39]   [2.2]

# Student

In [7]:
labels = []
for char in characteristics.student:
    labels.append(characteristics.labels[char])
    labels.append('')
table_dict = {'Characteristics': labels}
student_table = pd.DataFrame(data=table_dict)

for yr in [2016, 2017,2018]:
    means = []
    df = data[data.doi_year == yr]
    for char in characteristics.student:
        means.append(round(df[char].mean(), 2))
        sd = '[' + str(round(df[char].std(), 2)) + ']'
        means.append(sd)
    student_table[yr] = means
    
student_table

                    Characteristics    2016    2017    2018
0                  Percent Hispanic    0.42    0.34    0.38
1                                    [0.25]  [0.23]  [0.27]
2                     Percent White    0.47    0.55    0.51
3                                    [0.26]  [0.24]  [0.27]
4                     Percent Black    0.06    0.07    0.07
5                                    [0.08]  [0.11]   [0.1]
6       Percent Econ. Disadvantaged    0.54    0.55    0.58
7                                    [0.22]  [0.18]  [0.18]
8  Average STAAR Performance (Std.)    0.46    0.33    0.19
9                                    [0.88]  [0.69]   [0.7]

# To Table

In [8]:
geo_table.columns

Index(['Characteristics', 2016, 2017, 2018], dtype='object')

In [9]:
dfs = [geo_table, teacher_table, student_table]
rows = [4, 13, 20]
for df, row in zip(dfs, rows):
    tables.df_to_excel(file = table_path + 'table2_characteristics_by_year.xlsx', df = df,
                      df_columns = [2016, 2017, 2018], start_col = 2, start_row = row)

In [14]:
tables.n_to_excel(file = table_path + 'table2_characteristics_by_year.xlsx',
                 col = 2, row = 31, n = len(data[data.doi_year == 2016]))
tables.n_to_excel(file = table_path + 'table2_characteristics_by_year.xlsx', 
                  col = 3, row = 31, n = len(data[data.doi_year == 2017]))
tables.n_to_excel(file = table_path + 'table2_characteristics_by_year.xlsx',
                 col = 4, row = 31, n = len(data[data.doi_year == 2018]))